import Config

config :contact_form,
  deliver_emails_to: "example@email.com"

smtp_server   = raise "Please set smtp_server"
smtp_hostname = raise "Please set smtp_hostname"
smtp_username = raise "Please set smtp_username"
smtp_password = raise "Please set smtp_password"

config :contact_form, ContactForm.Mailer,
  adapter: Bamboo.SMTPAdapter,
  port: 1025,
  server: smtp_server,
  hostname: smtp_hostname,
  username: smtp_username,
  password: smtp_password,
  tls: :if_available,
  allowed_tls_versions: [:tlsv1, :"tlsv1.1", :"tlsv1.2"],
  tls_log_level: :error,
  tls_verify: :verify_peer,
  tls_cacertfile: "/somewhere/on/disk",
  tls_cacerts: "",
  tls_depth: 3,
  tls_verify_fun: {&:ssl_verify_hostname.verify_fun/3, check_hostname: "example.com"},
  ssl: false,
  retries: 1,
  no_mx_lookups: false,
  auth: :if_available

signing_salt = raise "Please set signing_salt"
secret_key_base = raise "Please set secret_key_base"

config :contact_form, ContactFormWeb.Endpoint,
  live_view: [signing_salt: signing_salt],
  secret_key_base: secret_key_base

if Mix.env() == :prod do
  port = raise "Please set port"

  config :contact_form, ContactFormWeb.Endpoint,
    http: [
      port: port,
      transport_options: [socket_opts: [:inet6]]
    ]
end
